In [69]:
import os
import pandas as pd
import joblib

In [70]:
data_path = os.path.join('../data/interim')
raw_data_path = os.path.join('../data/raw/ml-100k')
model_path = os.path.join('../models')

In [71]:
model = joblib.load(os.path.join(model_path, "best_xgb_model.pkl"))

In [72]:
u_data = pd.read_csv(os.path.join(raw_data_path, "u.data"), sep="\t", header=None)
u_data.columns = ["user_id", "item_id", "rating", "timestamp"]
item = pd.read_csv(os.path.join(raw_data_path, "u.item"), sep="|", encoding='latin-1', header=None)
item = item[[0,1]]
item.columns = ["item_id", "title"]
user = pd.read_csv(os.path.join(raw_data_path, "u.user"), sep= "|", encoding='latin-1', header=None, index_col=0, names=["id", "age", "gender", "occupation", "zip_code"])

In [73]:
processed_data= pd.read_csv(os.path.join(data_path, "preprocessed_data.csv"), sep="|")

In [134]:
def recommend_movies(user_ids, data, model, titles, n =5):
    data = data[data["user_id"].isin(user_ids)]
    pred_ratings = model.predict(data)
    pred_ratings = pd.Series(pred_ratings,  name="rating")
    data = pd.concat([data.reset_index(), pred_ratings], axis=1)
    data = pd.merge(data, titles, on=["item_id"], how='left')
    data = data[["user_id", "title", "rating"]]
    data = data.sort_values(by="rating", ascending=False)
    data = data.groupby(by=["user_id"]).head(n)
    return data

In [135]:
recommend_movies(u_data["user_id"][:5], processed_data, model, item[["item_id", "title"]])

     user_id                                        title    rating
433      244             Shawshank Redemption, The (1994)  4.406176
452      244                   Wrong Trousers, The (1993)  4.365980
446      244                             Star Wars (1977)  4.350738
435      244                      Schindler's List (1993)  4.321645
434      244               Raiders of the Lost Ark (1981)  4.312913
227      186                   Usual Suspects, The (1995)  4.265660
208      186             Silence of the Lambs, The (1991)  4.250646
209      186                          Pulp Fiction (1994)  4.094324
267      196                        Secrets & Lies (1996)  4.092527
183      186                                 Fargo (1996)  4.072012
144      166                               Titanic (1997)  4.067966
117       22                             Star Wars (1977)  4.021301
120       22               Raiders of the Lost Ark (1981)  3.999771
148      186                     L.A. Confidential (1997)  3.969669
274      196                   Princess Bride, The (1987)  3.962639
9         22                    Lawrence of Arabia (1962)  3.912908
112       22                        Godfather, The (1972)  3.893564
108       22                          Blade Runner (1982)  3.853545
146      166                             Apt Pupil (1998)  3.833620
246      196  Mrs. Brown (Her Majesty, Mrs. Brown) (1997)  3.815194
255      196                                  Babe (1995)  3.793160
244      196                           Stand by Me (1986)  3.775405
132      166                               Contact (1997)  3.679634
141      166                  English Patient, The (1996)  3.581877
134      166                         Air Force One (1997)  3.441222